.font1 {
    font-family: 'Roboto', sans-serif;
    background-color: #e7cc31;
}

.font2 {
    font-family: 'Inclusive Sans', sans-serif;
    background-color: #204bd8;
}

.font3 {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #d63113;
}

.font4 {
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #8c22f0;
}

.font5{
    font-family: 'Bungee Spice', cursive;
    background-color: #f8efe7;
}